
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="example suite 1" verbose="1" >
<listeners>
<listener class-name="utilities.Listeners"></listener>
</listeners>
<test name="userscreation">
<classes>
  <class name="testCases/Home/ProjectSetUp/Creating_CXO_usercreationFrom"/>
 <class name="testCases.Home..ProjectSetUp.Creating_Manger_usercreationFrom"/>

</classes>
</test>
</suite>
 